.logo{
    object-fit: contain;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40%;

}

.login_image1{
    width: 70%;
    object-fit: contain;
    position: relative;
}
.login_image2{
    width: 70%;
    top: 10%;
    left: 30%;
    object-fit: contain;
    position: absolute;
}


.login{
    background: white;
    display: flex;
    height: 100vh;
    margin: auto;
    align-items: center; 
}

.login_left{
    margin-right: 30px;
    margin-left: auto;
    align-items: center;
    position: relative;
}

.login_right{
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.signIn{
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding: 1px;
    border: 0.5px solid;
    margin-top: 25px;
    color: white;
    margin-bottom: 5px;
    background: rgb(193, 152, 231);
    font-weight: 700;
}

.signUp{
    height: auto;
    padding: 20px;
    border: 2px solid lightgrey;
    width: auto;
    text-align: center;
    color: black;
    margin-left: auto;
}

.span{
    color: rgb(193, 152, 231);
    font-weight: 700;
    cursor: pointer;
}

.container{
    border: 2px solid lightgray;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 400px;
    margin-bottom: 30px;
}

.container > h1{
    font-weight: 600;
    margin-bottom: 20px;
}


.container > form > h5{
    margin-bottom: 20px;
}


.container > form > input{
    margin-bottom: 10px;
    height: 30px;
    width: 98%;
    border: 1px solid lightgray;
}

.container > form > p{
    font-size: 13px;
    margin-top: 15px;
}

.app_store{
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: contain;
    width: 300px;
    margin-top: 20px;
}

.app_store > img{
    width: 60%;
}

.get_app_title{
    text-align: center;
    margin-top: 10%;
}