.post{
    max-width: 550px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.post_image{
    width: 100%;
    object-fit: contain;
}

.post_caption{
    font-weight: normal;
    padding: 10px;
}

.post_comments{
    font-weight: normal;
    padding: 10px;
}

.post_likes{
    font-weight: bolder;
    padding: 10px;
}

.post_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post_header_left{
    display: flex;
    align-items: center;
    padding: 20px;
}

.post_avatar{
    margin-right: 10px;
}

.post_icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat_footer > form{
    display: flex;
    flex: 1;
}

.chat_footer > form >input{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px;

}

.chat_footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}

.chat_footer > form > button{
    border: none;
    background-color: white;
}

.likeModal{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.title{
    margin-bottom: 14px;
}
